[user]
  name = Jason Campbell
  email = jasoncampbell@google.com
  username = jxson
  signingkey = FAB117F27F3AF72E
[github]
  user = jxson
[core]
  excludesfile = ~/.gitignore
  quotepath = false
	editor = code --wait
[color]
  ui = auto
[color "branch"]
  current = magenta bold
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[http]
  sslVerify = true
	cookiefile = ~/.gitcookies
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  zap-branches = !sh ~/.dotfiles/git-zap-branches.sh
  cl = !sh ~/.dotfiles/git-cl.sh
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckObjects = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff]
  tool = Kaleidoscope
  compactionHeuristic = true
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[commit]
  gpgsign = true
[gpg]
  program = gpg
